.benefits__item {
  text-align: center;
  max-width: 270px;
}

.benefits__item-title {
  font-weight: 500;
  font-size: 19px;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.benefits__item-img {
  height: 125px;
}

.benefits__item-title {
  color: #0B0B0B;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin-top: 15px;
}

.benefits__item-text {
  font-size: 15px;
  color: #7E7E7E;
  text-align: center;
  margin-top: 25px;
}